<!DOCTYPE html>
<html lang="en-us" id="extr-page" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charshet="UTF-8" />
	<title>Halaman Tidak Ditemukan</title>
	<meta http-equiv="refresh" content="3; url=/" />
	<link rel="stylesheet" th:href="@{/static/css/error.css}" />
</head>
<body>
	<div class="table">
		<div class="td" align="center">
			Halaman tidak ditemukan. Akan redirect dalam 3 detik.
			<p>
				atau klik <a th:href="@{/}">di sini</a>.
			</p>
			<p class="footer">
				<br />
				<br />
				&copy; SmartDelivery 2017
			</p>
		</div>
	</div>
</body>
</html>