<!DOCTYPE html>
<html lang="en-us" id="extr-page" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Penerima')"></head>
<body>
	<div th:replace="fragments/footer :: footer"></div>
	<div class="container-fluid" id="wrapper">
		<div th:replace="fragments/sidebar :: sidebar('penerima-index')">sidebar</div>
		<div id="content">
			<div th:replace="fragments/header :: login-header ('PENERIMA')"></div>
			<!-- content here -->
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Nama Penerima</th>
										<th>Jenis ID</th>
										<th>No.ID</th>
										<th>Alamat</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>