<!DOCTYPE html>
<html lang="en-us" id="extr-page" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Perusahaan')"></head>
<body>
	<div th:replace="fragments/footer :: footer"></div>
	<div class="container-fluid" id="wrapper">
		<div th:replace="fragments/sidebar :: admin-sidebar('perusahaan-index')">sidebar</div>
		<div id="content">
			<div th:replace="fragments/header :: login-header ('PERUSAHAAN')"></div>
			<!-- content here -->
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
                                        <th>No</th>
										<th>Nama Perusahaan</th>
										<th>Jenis Deposit</th>
										<th>Alamat</th>
										<th>NPWP</th>
										<th>Nomor Izin</th>
										<th>Tanggal Izin</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="perusahaan,iterStat : ${dataPerusahaan}">
                                        <td th:text="${iterStat.count}">1</td>
                                        <td th:text="${perusahaan.namaPerusahaan}"></td>
                                        <td th:text="${perusahaan.jenisDeposit}"></td>
                                        <td th:text="${perusahaan.alamat}"></td>
                                        <td th:text="${perusahaan.npwp}"></td>
                                        <td th:text="${perusahaan.nomorIzin}"></td>
                                        <td th:text="${perusahaan.tglIzin} ? ${#calendars.format(perusahaan.tglIzin,'dd-MMM-yyyy')}"></td>
                                    </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>