<!DOCTYPE html>
<html lang="en-us" id="extr-page" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('User - Add')"></head>
<body>
	<div th:replace="fragments/footer :: footer"></div>
	<div class="container-fluid" id="wrapper">
		<div th:replace="fragments/sidebar :: admin-sidebar('user-add')">sidebar</div>
		<div id="content">
			<div th:replace="fragments/header :: login-header ('USER - ADD')"></div>
			
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form method="POST">
							<div class="form-group col-lg-4">
								<label>Perusahaan</label>
								<select class="form-control" name="perusahaan_id"></select>
							</div>
							<div class="form-group col-lg-4">
								<label>Username</label>
								<input class="form-control" type="text" name="username" placeholder="Username" />
							</div>
							<div class="form-group col-lg-4">
								<label>Nama Lengkap</label>
								<input class="form-control" type="text" name="nama_lengkap" placeholder="Nama Lengkap" />
							</div>
							<div class="form-group col-lg-4">
								<label>Password</label>
								<input class="form-control" type="password" name="password" placeholder="Password" />
							</div>
							<div class="form-group col-lg-4">
								<label>Ulangi Password</label>
								<input class="form-control" type="password" name="password_ulangi" placeholder="Ulangi Password" />
							</div>			
							<div class="form-group col-lg-4">
								<label>&nbsp;</label>
								<button class="btn btn-primary btn-block" type="submit">Simpan</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>